<form name="addPost">
  <div class="row">
    <h4>{{ 'CONTACT_DETAILS' | translate }}</h4>
    <div class="col-md-4">
      <fieldset class="form-group">
        <label for="name">{{ 'NAME' | translate }}</label>
        <input type="text" class="form-control" id="name" ng-model="formData.name" aria-describedby="name">
      </fieldset>
    </div>
    <div class="col-md-4">
      <fieldset class="form-group">
        <label for="email">{{ 'EMAIL' | translate }}</label>
        <input type="email" class="form-control" id="email" ng-model="formData.email" aria-describedby="email" required>
      </fieldset>
    </div>
    <div class="col-md-4">
      <fieldset class="form-group">
        <label for="phone">{{ 'PHONE' | translate }}</label>
        <input type="text" class="form-control" id="phone" ng-model="formData.phone" aria-describedby="phone">
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <fieldset class="form-group">
        <label for="city">{{ 'CITY' | translate }}</label>
        <input type="text" class="form-control" id="city" aria-describedby="city" ng-model="formData.city" required>
      </fieldset>
    </div>
    <div class="col-md-4">
      <fieldset class="form-group">
        <label for="location">{{ 'GENERAL_LOCATION' | translate }}</label>
        <input type="text" class="form-control" id="location" ng-model="formData.location" aria-describedby="location">
      </fieldset>
    </div>
  </div>
  <div class="row">
    <h4>{{ 'ITEM_DETAILS' | translate }}</h4>
    <div class="col-md-4">
      <fieldset class="form-group">
        <label for="price">{{ 'PRICE' | translate }}</label>
        <input type="text" class="form-control" id="price" ng-model="formData.price" aria-describedby="price">
      </fieldset>
    </div>
    <div class="col-md-4">
      <fieldset class="form-group">
        <label for="condition">{{ 'CONDITION' | translate }}</label>
        <input type="text" class="form-control" id="condition" ng-model="formData.condition" aria-describedby="condition">
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <fieldset class="form-group">
        <label for="make">{{ 'MAKE_MANUFACTURER' | translate }}</label>
        <input type="text" class="form-control" id="make" ng-model="formData.make" aria-describedby="make">
      </fieldset>
    </div>
    <div class="col-md-4">
      <fieldset class="form-group">
        <label for="size">{{ 'SIZE' | translate }}</label>
        <input type="text" class="form-control" id="size" ng-model="formData.size" aria-describedby="size">
      </fieldset>
    </div>
    <div class="col-md-4">
      <fieldset class="form-group">
        <label for="color">{{ 'COLOR' | translate }}</label>
        <input type="text" class="form-control" id="color" ng-model="formData.color" aria-describedby="color">
      </fieldset>
    </div>
  </div>
  <div class="row">
    <h4>{{ 'POSTING' | translate }}</h4>
    <div class="col-md-12">
      <fieldset class="form-group">
        <label for="title">{{ 'TITLE' | translate }}</label>
        <input type="text" class="form-control" id="title" ng-model="formData.title" aria-describedby="title" required>
      </fieldset>
      <fieldset class="form-group">
        <label for="posting">{{ 'POSTING' | translate }}</label>
        <textarea rows="6" class="form-control" id="posting" ng-model="formData.posting" aria-describedby="posting" required></textarea>
      </fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary btn-block" ng-click="createPost()" ng-disabled="addPost.$invalid">{{ 'SUBMIT' | translate }}</button>
    </div>
  </div>
</form>