<div class="row">
  <h3>{{ post.title }} - {{ post.city }} - {{ post.price }}</h3>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <p><strong>Name:</strong> {{ post.name }}</p>
  </div>
  <div class="col-md-4">
    <p><strong>Email:</strong> {{ post.email }}</p>
  </div>
  <div class="col-md-4">
    <p><strong>Phone:</strong> {{ post.phone }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label>Meet at:</label> <p>{{ post.location }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label>Price:</label> <p>{{ post.price }}</p>
  </div>
  <div class="col-md-4">
    <label>Condition:</label> <p>{{ post.condition }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label>Make/Manufacturer:</label> <p>{{ post.make }}</p>
  </div>
  <div class="col-md-4">
    <label>Size:</label> <p>{{ post.size }}</p>
  </div>
  <div class="col-md-4">
    <label>Color:</label> <p>{{ post.color }}</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <p>{{ post.posting }}</p>
  </div>
</div>